option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:worker:python:
    command: "worker.py"
    pidfile: "/var/pids/worker.pid"

container_commands:
  01_change_pids_permission:
    command: "chmod 777 /var/pids"